.mobileNavbarContainer {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 70px;
}

.accordion-button::after {
  width: 0;
}

.navbarItemsInnerContainer {
  height: calc(100vh - 70px);
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.navbarItemsContainerRight {
  /* height: calc(100vh - 70px); */

  background: #212936;
}
.buttonsContainer {
  padding: 20px;
  /* padding-bottom: 15px; */
}
.primaryButton {
  width: 90px;
  color: #fff;
  font-size: 12px;
  border-radius: 25px;
  padding: 6px 8px;
  margin-right: 15px;
  background-color: #5a5ad5;
  border: none;
  font-family: "Poppins", sans-serif;
}
