.footerCommon {
  background: linear-gradient(to right, #140c1f, #140c1f);
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  line-height: 2;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.text {
  width: fit-content;
  /* color: #173465; */
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.6;
  border-bottom: 1px solid transparent;
}

.text:hover {
  border-bottom: 1px solid #fff;
}

.footerBottom {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(to right, #140c1f, #140c1f);
  padding: 20px 0px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
