.footerCommon {
  /* background: #1E2334; */
  /* background-image: linear-gradient(
    90deg,
    rgb(250, 235, 235) 0%,
    rgb(223, 231, 253) 100%
  ); */
  background: linear-gradient(to right, #140c1f, #140c1f);
  /* color: #000; */
  /* color: #173465; */
  color: #fff;
  font-family: "open sans", sans-serif;
  /* background-image: url(../../public/footer2.png); */
  /* background-position: 70% 130px; */
  /* background-repeat: no-repeat; */
  /* background-size: auto; */
  /* padding: 80px 20px; */
  line-height: 2;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.text {
  width: fit-content;
  /* color: #173465; */
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.6;
  border-bottom: 1px solid transparent;
}

.text:hover {
  border-bottom: 1px solid #fff;
}

.footerBottom {
  /* background-image: linear-gradient(
    90deg,
    rgb(250, 235, 235) 0%,
    rgb(223, 231, 253) 100%
  ); */
  font-family: "open sans", sans-serif;
  background: linear-gradient(to right, #140c1f, #140c1f);
  padding: 20px 0px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
