.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(249, 236, 248);
}

.imageContainer {
  padding: 20px;
}

.dataContainer {
  /* height: 500px; */
  text-align: justify;
  font-size: 17px;
  padding: 20px;
  background: rgb(226, 246, 254);
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(249, 236, 248);
  }
}
