.managePlatformContainer {
  padding-top: 50px;
  /* padding-left: 35px;
  padding-right: 35px; */
  padding-bottom: 130px;
}

.managePlatformTabs {
  border: none !important;
  border-color: transparent !important;
}

.managePlatformTabs li button {
  border-color: transparent !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  color: #173465 !important;
  font-weight: 500;
}
.managePlatformTabs li button:hover {
  color: #0d6efd !important;
}

@media screen and (max-width: 920px) {
  .managePlatformContainer {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 250px; */
  }
}
