.banner {
  background: #173465;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  margin-bottom: 150px;
}

.bannerContainer {
  padding-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

/* banner title and description */
.bannerTitleContainer {
  width: 95%;
}

.bannerTitle {
  color: #fff;
  font-size: clamp(30px, 5vw, 60px);
  text-align: center;
}

.bannerDescription {
  color: #fff;
  font-size: clamp(18px, 5vw, 25px);
  font-weight: 300;
  padding: 20px;
  text-align: center;
}

/* banner image */

.bannerImageContainer {
  width: clamp(350px, 70vw, 1200px);
  height: 400px;
  position: absolute;
  overflow: hidden;
  top: calc(100vh - 200px);
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .bannerTitleContainer {
    width: 100%;
    margin: 0 auto;
  }
  .bannerImageContainer {
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .bannerTitleContainer {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .bannerImageContainer {
    width: clamp(270px, 70vw, 450px);
    height: 270px;
    overflow: hidden;
    border-radius: 20px 20px;
    margin: 50px auto;
  }
}
