.container {
  position: relative;
  font-family: "open sans", sans-serif;
}

.imageContainer {
  width: 100%;
  height: 400px;
  position: relative;
}

.imageContainer img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* opacity: 0; */
  transition: 0.5s ease;
  /* background-color: rgba(20, 12, 31, 0.8); */
  background-color: rgba(42, 43, 54, 0.8);
}

.textContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 15px;
  /* top: 0; */
}

.title {
  width: 100%;
  font-size: 30px;
  /* font-weight: 700; */
  text-align: center;
}

.highlightedTitle {
  width: 75%;
  text-align: center;
}

.highlightedTitleColored1,
.highlightedTitleColored2 {
  font-family: "fjalla one", sans-serif;
  /* font-family: "Kristi", cursive; */
  color: #0f0;
  font-size: 25px;
  padding-left: 5px;
  /* padding-right: 5px; */
}
.highlightedTitleColored3,
.highlightedTitleColored4,
.highlightedTitleColored5 {
  font-family: "fjalla one", sans-serif;
  /* font-family: "Kristi", cursive; */
  color: #0f0;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.smallBannerButton {
  font-family: "open sans", sans-serif;
  width: 150px;
  background: rgba(23, 52, 101, 0.6);
  /* background: transparent; */
  border: 2px solid aqua;
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  /* margin-top: 50px; */
}

.smallBannerButton:hover {
  color: aqua;
}

@media screen and (max-width: 600px) {
  .highlightedTitle {
    width: 100%;
    text-align: center;
  }
  .highlightedTitleColored1,
  .highlightedTitleColored2,
  .highlightedTitleColored3,
  .highlightedTitleColored4,
  .highlightedTitleColored5 {
    font-size: 15px;
  }
}
