.container {
  background: #173465;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bannerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bannerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bannerImageWrapper {
  flex: 0 0 50%;
  position: relative;
  width: 100%;
  height: 400px;
  right: 0;
  top: 0;
  border-radius: 15px;
  overflow: hidden;
}

.bannerCategoryText {
  color: aqua;
}

.bannerText {
  flex: 0 0 50%;
  color: #fff;
  padding-right: 20px;
}

.bannerTextTitle {
  font-size: clamp(30px, 10vw, 50px);
}

.button {
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  outline: 1px solid aqua;
  padding: 5px 15px;
  border-radius: 20px;
  margin-top: 50px;
}

.button:hover {
  color: aqua;
}

/* animation keyframes */

@media screen and (max-width: 900px) {
  .bannerWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .bannerWrapper {
    flex-direction: column;
  }
}
