.productContainer {
  /* font-family: "open sans", sans-serif; */
  font-size: 15px;
  text-align: justify;
  padding-left: 0;
  padding-right: 0;
  padding: 20px 0;
}

/* product menu items container */
.productMenuItemsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menuItemHeading {
  font-size: clamp(12px, 1.2vw, 16px);
  font-weight: 400;
  margin-top: 10px;
}
.menuItemDescription {
  font-size: clamp(10px, 1.2vw, 12px);
  color: #757575;
}

.menuItemContainerLeft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 150px;
  padding-right: 10px;
}

.innerContainerLeft {
  padding: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.innerContainerLeft:hover {
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* features showing in list  */

.menuItemContainerRight {
  font-size: 14px;
  border-left: 1px solid #e4e4e4;
  padding-left: 10px;
}

.rightContainerTitle {
  font-size: clamp(12px, 1vw, 14px);
  padding: 10px;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 10px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.list:hover {
  border: 1px solid #ccc;
}

.listTitle {
  /* font-family: "open sans", sans-serif; */
  font-size: clamp(12px, 1vw, 14px);
  margin-left: 10px;
}

.listLeftSide {
  display: flex;
  align-items: center;
}

/***********************Mobile Devices***********************/
@media screen and (max-width: 992px) {
  /* product menu items container */
  .productMenuItemsContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* features showing in list  */
  .menuItemContainerLeft {
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .menuItemContainerRight {
    border-left: none;
    border-top: 1px solid #e4e4e4;
  }
}

/* ************Screen size: 600px********* */

@media screen and (max-width: 600px) {
  .productContainer {
    padding: 0px;
  }

  .menuItemContainerLeft {
    grid-template-columns: 1fr;
    max-height: 600px;
    padding-top: 10px;
  }

  .listContainer {
    grid-template-columns: 1fr;
  }
}
