.subscriptionContainer {
  /* background: linear-gradient(to right, #24c6dc, #514a9d); */
  background: linear-gradient(55deg, #24c6dc 0%, #140c1f 100%);
}

.subscriptionInnerContainer {
  display: flex;
  /* gap: 40px; */
  align-items: center;
  justify-content: center;
  color: #fff;
  /* background: #fed8d4; */
  /* background: transparent; */
  width: 100%;
  z-index: -1;
  /* font-family: "open sans", sans-serif; */
}

.subscriptionImageContainer {
  flex: 0 0 50%;

  padding: 50px;
}

.subscriptionTextContainer {
  flex: 0 0 50%;
  padding: 50px;
}

.subscriptionTitle {
  font-size: clamp(25px, 5vw, 50px);
  font-weight: 700;
  /* color: #173465; */
  color: #fff;
}

.subscriptionTitleSpan {
  background: linear-gradient(45deg, #2627fa, #ff544f 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subscriptionContainerSVG {
  z-index: 100;
}

.subscriptionButton {
  background: rgba(23, 52, 101, 0.6);
  /* background: transparent; */
  border: 2px solid aqua;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 50px;
}

.subscriptionButton:hover {
  color: aqua;
}

@media screen and (max-width: 768px) {
  .subscriptionInnerContainer {
    flex-direction: column;
  }

  .subscriptionImageContainer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .subscriptionInnerContainer {
    flex-direction: column;
  }

  .subscriptionImageContainer {
    display: none;
  }
  .subscriptionTextContainer {
    flex: 0 0 100%;
    padding: 40px 10px;
  }
}
