.banner {
  background-image: linear-gradient(
    90deg,
    rgb(226, 246, 254) 30%,
    rgb(249, 236, 248) 100%
  );
  background: #173465;
  font-family: "Poppins", sans-serif;
  height: 100%;
  max-height: 1000px;
  margin-bottom: 200px;
  /* height: calc(100vh - 70px); */
}

.bannerContainer {
  padding-top: 80px;
  position: relative;
}

/* banner title and description */
.bannerTitleContainer {
  width: 75%;
  margin: 0 auto;
}

.bannerTitle {
  color: #fff;
  font-size: clamp(30px, 9vw, 70px);
  text-align: center;
}
.bannerDescription {
  color: #fff;
  font-size: clamp(18px, 5vw, 25px);
  font-weight: 300;
  padding: 20px;
  text-align: center;
}

/* banner buttons container */
.bannerButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 90px;
}

.bannerButtonLeft,
.bannerButtonRight {
  width: 250px;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 400;
  background-color: #fff;
  color: #173465;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
}
.bannerButtonRight {
}

/* banner image */

.bannerImageContainer {
  width: clamp(250px, 70vw, 1200px);
  /* height: 600px; */
  position: relative;
  overflow: hidden;
  top: 70px;
  left: 0;
  right: 0;
  box-shadow: -2px 2px 22px 1px rgba(143, 206, 233, 0.4);
  border-radius: 20px 20px;
  margin: 0 auto;
}

.bannerImage {
  z-index: 1000 !important;
  /* width: 600px !important; */
  /* padding: 40px !important; */
  border-radius: 20px 20px !important;
}

@media screen and (max-width: 992px) {
  /* banner title and description */
  .bannerTitleContainer {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .bannerButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 90px;
  }
}
