.miniPricingContainer {
  font-family: "Poppins", sans-serif;
}

.miniPricingTitle {
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
}

.planContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.singlePlan {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rateContainerMiniPricing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.rateContainerItemBlack {
  color: rgb(23, 52, 101);
  font-size: 40px;
}

.rateContainerItemPurple {
  color: #a25ddc;
  font-size: 40px;
}
.rateContainerItemBlue {
  color: #0085ff;
  font-size: 40px;
}
.rateContainerItemGreen {
  color: #00ca72;
  font-size: 40px;
}

.rateContainerRight {
  font-size: 13px;
  font-weight: 300;
  border-bottom: 0;
}

.primaryButton {
  width: 120px;
  color: #fff;
  font-size: 13px;
  border-radius: 25px;
  padding: 8px 10px;
  background-color: #5a5ad5;
  border: none;
}
.primaryButton:hover {
  background-color: #7373de;
}

.mPricingLink {
  font-size: 15px;
  color: #5a5ad5;
  margin-bottom: 0;
  cursor: pointer;
}

.mPricingLink:hover {
  color: #6f6fcf;
  font-weight: 500;
}

/* media queries for max-width: 600px and 992px */

@media screen and (max-width: 992px) {
  .planContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 10px;
    row-gap: 15px;
  }
}
@media screen and (max-width: 600px) {
  .planContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 15px;
  }
}
