.miniPricingContainer {
  font-family: "Poppins", sans-serif;
}

.miniPricingTitle {
  text-align: center;
  padding-bottom: 25px;
}

.planContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.singlePlan {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rateContainerMiniPricing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.primaryButton {
  width: 120px;
  color: #fff;
  font-size: 13px;
  border-radius: 25px;
  padding: 8px 10px;
  background-color: #5a5ad5;
  border: none;
}
.primaryButton:hover {
  background-color: #7373de;
}

.mPricingLink {
  font-size: 15px;
  color: #5a5ad5;
  margin-bottom: 0;
  cursor: pointer;
}

.mPricingLink:hover {
  color: #6f6fcf;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .planContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 15px;
  }
}
